<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
{% for transaction in transactions %}
    <p>Source User Email: {{ transaction.source_user_email }}</p>
    <p>Destination User Email: {{ transaction.destination_user_email }}</p>
    <p>Amount: {{ transaction.amount }}</p>
    <!-- Other transaction fields -->
{% endfor %}

{% for user in users %}
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Balance: {{ user.balance }}</p>
    <!-- Other user fields -->
{% endfor %}

</body>
</html>