<!-- show_transactions.html -->

{% extends 'core/dashboard.html' %} {% block dynamic_content %}

    <h2 style="text-align: center">Transaction Details</h2>
    <table style="border-collapse: collapse; width: 80%; margin: 20px auto">
        <thead>
        <tr>
            <th
                    style="
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
					background-color: #333;
					color: white;
				"
            >
                Transaction ID
            </th>
            <th
                    style="
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
					background-color: #333;
					color: white;
				"
            >
                Name
            </th>
            <th
                    style="
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
					background-color: #333;
					color: white;
				"
            >
                Date & Time
            </th>
            <th
                    style="
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
					background-color: #333;
					color: white;
				"
            >
                Amount
            </th>
            <th
                    style="
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
					background-color: #333;
					color: white;
				"
            >
                Total Balance
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">1</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                John Doe
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                2024-04-26 10:30 AM
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                +100
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                1000
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">2</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                Jane Smith
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                2024-04-26 11:45 AM
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                -50
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left">
                950
            </td>
        </tr>
        <!-- Add more rows as needed -->
        </tbody>
    </table>

{% endblock %}
